<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>get started with three.js</title>
</head>
<body>

<script src="three.min.js"></script>
<script>
var main = function () {
    var scene = new THREE.Scene();
    var width  = 600;
    var height = 400;
    var fov    = 60;
    var aspect = width / height;
    var near   = 1;
    var far    = 1000;
    var camera = new THREE.PerspectiveCamera( fov, aspect, near, far );
    camera.position.set( 0, 0, 70 );
    var renderer = new THREE.WebGLRenderer();
    renderer.setSize( width, height );
    document.body.appendChild( renderer.domElement );
    var directionalLight = new THREE.DirectionalLight( 0xffffff );
    directionalLight.position.set( 0, 0.7, 0.7 );
    scene.add( directionalLight );
    var geometry = new THREE.CylinderGeometry( 5, 20, 15, 20, 0, false );
    var material = new THREE.MeshPhongMaterial( { color: 0xffff00 } );
    var mesh = new THREE.Mesh( geometry, material );
    scene.add( mesh );
    renderer.render( scene, camera );
    ( function renderLoop () {
      requestAnimationFrame( renderLoop );
      mesh.rotation.set(
        0,
        mesh.rotation.y + 0.01,
        mesh.rotation.z + 0.01
      )
      renderer.render( scene, camera );
    } )();
};

window.addEventListener( 'DOMContentLoaded', main, false );
</script>

</body>
</html>
